<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/stylesheets/home-template.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
  <div class="welcome center">Welcome {{.Name}}!</div>
  <br>
  <script>
    var audio = new Audio();
    function play(file) {
      audio.pause();
      audio = new Audio(file);
      audio.play();
    }
  </script>
  <input type="button" value="Play Audio" onclick="play('../static/audio/Alesis-Fusion-Tubular-Bells-C6.wav')">
  <audio id="audio" src=""></audio>
  <br>

  <button id="callGo" type="submit">Test</button>
  <!-- Send a request through AJAX to the GOlang backend for an audio file -->
  <script type="text/javascript">
    $(document).ready(function () {
      $("#callGo").on('click', function () {
        $.ajax({
          url: "http://localhost:4200/callme",
          method: "GET",
          success: function (data) {
            $("#response").html(data);
          },
        });
      });
    });
  </script>

  <button id="multiNoise" type="submit">Multiple Sounds</button>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#multiNoise").on('click', function () {
        $.ajax({
          url: "http://localhost:4200/multiNoise",
          method: "GET",
          success: function (data) {
            $("#response").html(data);
          },
        });
      });
    });
  </script>
  <br>

  <!-- change all of the hidden filters to a single script and repeat -->
  <form id="sequence" action="http://localhost:4200/fillForm">
    <input type="hidden" id="kick1" name="1" value="static/audio/1_beat_100bpm.wav"><input type="checkbox"
      onclick="this.previousSibling.value='static/audio/drums/kick/kick.wav'">
    <label for="kick1">Kick</label>
    <input type="hidden" id="kick1" name="2" value="static/audio/1_beat_100bpm.wav"><input type="checkbox"
      onclick="this.previousSibling.value='static/audio/drums/kick/kick.wav'">
    <input type="hidden" id="kick1" name="3" value="static/audio/1_beat_100bpm.wav"><input type="checkbox"
      onclick="this.previousSibling.value='static/audio/drums/kick/kick.wav'">
    <input type="hidden" id="kick1" name="4" value="static/audio/1_beat_100bpm.wav"><input type="checkbox"
      onclick="this.previousSibling.value='static/audio/drums/kick/kick.wav'">
    <br>
    <input type="hidden" id="kick1" name="1" value="static/audio/1_beat_100bpm.wav"><input type="checkbox"
      onclick="this.previousSibling.value='static/audio/drums/snare/snare909.wav'">
    <label for="snare1">Snare</label>
    <input type="hidden" id="kick1" name="2" value="static/audio/1_beat_100bpm.wav"><input type="checkbox"
      onclick="this.previousSibling.value='static/audio/drums/snare/snare909.wav'">
    <input type="hidden" id="kick1" name="3" value="static/audio/1_beat_100bpm.wav"><input type="checkbox"
      onclick="this.previousSibling.value='static/audio/drums/snare/snare909.wav'">
    <input type="hidden" id="kick1" name="4" value="static/audio/1_beat_100bpm.wav"><input type="checkbox"
      onclick="this.previousSibling.value='static/audio/drums/snare/snare909.wav'">
    <input type="submit" value="Play Drums">
  </form>

  <!-- <script type="text/javascript">
    // when page is ready
    $(document).ready(function () {
      // on form submit
      $("#sequence").on('submit', function () {
        // to each unchecked checkbox
        $(this).find('input[type=checkbox]:not(:checked)').prop('checked', true).val("static/audio/drums/fx/80s.wav");
      })
    })
  </script> -->

  <button id="playDrums" type="submit">Play Drum Pattern</button>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#playDrums").on('click', function () {
        $.ajax({
          url: "http://localhost:4200/playDrums",
          method: "GET",
          success: function (data) {
            $("#response").html(data);
          },
        });
      });
    });
  </script>

  <br>

  <button id="testMixer" type="submit">Test Mixer</button>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#testMixer").on('click', function () {
        $.ajax({
          url: "http://localhost:4200/testMixer",
          method: "GET",
          success: function (data) {
            $("#response").html(data);
          },
        });
      });
    });
  </script>
</body>

</html>