<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/stylesheets/home-template.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- <script src="../js/checkbox.js"></script> -->
</head>

<body>
  <!-- form with all of the checkboxes to enter drum pattern -->
  <form class="sequence" action="http://localhost:4200/fillForm">
    <label for="row1" form="sequence">Kick</label>
    <div class="row1">
      <input type="hidden" id="kick1" name="1" value="static/audio/1_beat_100bpm.wav"><input type="checkbox"
        onclick="this.previousSibling.value='static/audio/drums/kick/kick.wav'" class="input_class_checkbox">
      <input type="hidden" id="kick2" name="2" value="static/audio/1_beat_100bpm.wav"><input type="checkbox"
        onclick="this.previousSibling.value='static/audio/drums/kick/kick.wav'" class="input_class_checkbox">
      <input type="hidden" id="kick3" name="3" value="static/audio/1_beat_100bpm.wav"><input type="checkbox"
        onclick="this.previousSibling.value='static/audio/drums/kick/kick.wav'" class="input_class_checkbox">
      <input type="hidden" id="kick4" name="4" value="static/audio/1_beat_100bpm.wav"><input type="checkbox"
        onclick="this.previousSibling.value='static/audio/drums/kick/kick.wav'" class="input_class_checkbox">
    </div>
    <br>
    <label for="row2" form="sequence">Snare</label>
    <div class="row2">
      <input type="hidden" id="snare1" name="1" value="static/audio/1_beat_100bpm.wav"><input type="checkbox"
        onclick="this.previousSibling.value='static/audio/drums/snare/snare909.wav'" class="input_class_checkbox">
      <input type="hidden" id="snare2" name="2" value="static/audio/1_beat_100bpm.wav"><input type="checkbox"
        onclick="this.previousSibling.value='static/audio/drums/snare/snare909.wav'" class="input_class_checkbox">
      <input type="hidden" id="snare3" name="3" value="static/audio/1_beat_100bpm.wav"><input type="checkbox"
        onclick="this.previousSibling.value='static/audio/drums/snare/snare909.wav'" class="input_class_checkbox">
      <input type="hidden" id="snare4" name="4" value="static/audio/1_beat_100bpm.wav"><input type="checkbox"
        onclick="this.previousSibling.value='static/audio/drums/snare/snare909.wav'" class="input_class_checkbox">
      <br>
    </div>
    <input type="submit" class="submitButton" value="Play Drums">
  </form>

  <!-- Script to assign a different class to checkboxes that has custom images -->
  <script>
    // Create a hidden object to customize with CSS
    $('.input_class_checkbox').each(function(){
      $(this).hide().after('<div class="class_checkbox" />');
    });

    // Change the value of the box to checked
    $('.class_checkbox').on('click',function(){
      $(this).toggleClass('checked').prev().prop('checked',$(this).is('.checked')).triggerHandler('click');
    });
  </script>

  <!-- <button id="playDrums" type="submit">Play Drum Pattern</button>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#playDrums").on('click', function () {
        $.ajax({
          url: "http://localhost:4200/playDrums",
          method: "GET",
          success: function (data) {
            $("#response").html(data);
          },
        });
      });
    });
  </script> -->

  <br>

</body>

</html>