<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/stylesheets/home-template.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
  <div class="welcome center">Welcome {{.Name}}!</div>
  <br>
  <script>
    var audio = new Audio();
    function play(file) {
      audio.pause();
      audio = new Audio(file);
      audio.play();
    }
  </script>
  <input type="button" value="Play Audio" onclick="play('../static/audio/Alesis-Fusion-Tubular-Bells-C6.wav')">
  <audio id="audio" src=""></audio>
  <br>

  <button id="callGo" type="submit">Test</button>
  <!-- Send a request through AJAX to the GOlang backend for an audio file -->
  <script type="text/javascript">
    $(document).ready(function () {
      $("#callGo").on('click', function () {
        $.ajax({
          url: "http://localhost:4200/callme",
          method: "GET",
          success: function (data) {
            $("#response").html(data);
          },
        });
      });
    });
  </script>

  <button id="multiNoise" type="submit">Multiple Sounds</button>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#multiNoise").on('click', function () {
        $.ajax({
          url: "http://localhost:4200/multiNoise",
          method: "GET",
          success: function (data) {
            $("#response").html(data);
          },
        });
      });
    });
  </script>
  <br>

  <form id="sequence" action="http://localhost:4200/fillForm">
    <input type="checkbox" id="kick1" name="drums" value="static/audio/drums/kick/kick.wav">
    <label for="kick1">Kick1</label>
    <input type="checkbox" id="snare1" name="drums" value="static/audio/drums/snare/snare909.wav">
    <label for="snare1">Snare1</label>
    <input type="checkbox" id="kick2" name="drums" value="static/audio/drums/kick/kick.wav">
    <label for="kick2">Kick2</label>
    <input type="checkbox" id="snare2" name="drums" value="static/audio/drums/snare/snare909.wav">
    <label for="snare2">Snare2</label>
    <input type="submit" value="Play Drums">
  </form>
  <!-- <script type="text/javascript">
    $(document).ready(function () {
      $("#sequence").on('submit', function () {
        $.ajax({
          url: "http://localhost:4200/fillForm",
          method: "GET",
          success: function (data) {
            $("#response").html(data);
          },
        });
      });
    });
  </script> -->

  <button id="playDrums" type="submit">Play Drum Pattern</button>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#playDrums").on('click', function () {
        $.ajax({
          url: "http://localhost:4200/playDrums",
          method: "GET",
          success: function (data) {
            $("#response").html(data);
          },
        });
      });
    });
  </script>
</body>

</html>